@{
    ViewBag.Title = "ListUser";
    Layout = "~/Areas/CMS/Views/Shared/_Layout_CMS.cshtml";
}

<h2>ListUser</h2>

<p class="pull-right">
    @Html.ActionLink("Create New", "NewUserPatial", "UserManagement", null, new { @class = "btn btn-success modal-link", @datamodal = "" })
</p>
<div id="lstReplace">
    @{ Html.RenderAction("RenderListUser", "UserManagement"); }
</div>
<div id ="pager"></div>


<script type="text/javascript">
    $(function () {
        $(".modal-link").on("click", function (e) {
            $("#modal-dialog").removeClass();
            $("#modal-dialog").addClass("modal-dialog");
            $("#modal-dialog").addClass("size50");
        });
    });
</script>
